DATABASE_URL="postgresql://aki@localhost:5432/mdx_vocabulary?schema=public"
APP_DATA_DIR="./data"
OLLAMA_BASE_URL="http://127.0.0.1:11435"
OLLAMA_REQUEST_TIMEOUT_MS="15000"
OLLAMA_COLD_START_TIMEOUT_MS="180000"
OLLAMA_GENERATION_TIMEOUT_MS="60000"
IMPORT_BATCH_SIZE="100"
